In [1]:
import pandas as pd

In [4]:
adata_train = pd.read_parquet('data/adata_train.parquet')
adata_train

                     obs_id        gene  count  normalized_count
0          000006a87ba75b72        AATF      1          5.567933
1          000006a87ba75b72      ABHD12      1          5.567933
2          000006a87ba75b72       ABHD3      1          5.567933
3          000006a87ba75b72  AC004687.1      1          5.567933
4          000006a87ba75b72  AC009779.2      1          5.567933
...                     ...         ...    ...               ...
416442307  ffffe67500d95d8d      ZSWIM7      1          4.205181
416442308  ffffe67500d95d8d      ZSWIM8      1          4.205181
416442309  ffffe67500d95d8d        ZUP1      1          4.205181
416442310  ffffe67500d95d8d        ZXDB      1          4.205181
416442311  ffffe67500d95d8d         ZYX      4          5.580224

[416442312 rows x 4 columns]

In [5]:
adata_train_pivoted = adata_train.pivot(index='obs_id', columns='gene', values='count')
adata_train_pivoted

/tmp/ipykernel_13033/699347442.py:1: PerformanceWarning: The following operation may generate 5103112950 cells in the resulting pandas object.
  adata_train_pivoted = adata_train.pivot(index='obs_id', columns='gene', values='count')

gene,A1BG,A1BG-AS1,A2M,A2M-AS1,A2MP1,A4GALT,AAAS,AACS,AAGAB,AAK1,...,ZW10,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1
obs_id,,,,,,,,,,,,,,,,,,,,,
000006a87ba75b72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0000233976e3cd37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
0001533c5e876362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN
00022f989630d14b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002560bd38ce03e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ffff28f274e983df,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN,NaN
ffff32893af5befb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,NaN
ffff6c3e0a7b05ad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ffff8e571c7e8cb0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ffffe67500d95d8d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,4.0,NaN

In [2]:
multiome_train = pd.read_parquet('data/multiome_train.parquet')
multiome_train

                     obs_id                location  count  normalized_count
0          000225c1151ab841                    AAMP      1          6.320659
1          000225c1151ab841                    AASS      1          6.320659
2          000225c1151ab841                  ABCC11      1          6.320659
3          000225c1151ab841                   ABCC2      1          6.320659
4          000225c1151ab841                     ABR      1          6.320659
...                     ...                     ...    ...               ...
216251363  ffffeba9dbf2bab1  chrY:19499847-19500746      1          3.342186
216251364  ffffeba9dbf2bab1  chrY:19566990-19567754      1          1.154666
216251365  ffffeba9dbf2bab1  chrY:20735890-20736626      3          7.049924
216251366  ffffeba9dbf2bab1  chrY:21260054-21260842      2          3.967924
216251367  ffffeba9dbf2bab1    chrY:7273431-7274301      2          1.250685

[216251368 rows x 4 columns]

In [3]:
multiome_train_pivoted = multiome_train.pivot(index='obs_id', columns='location', values='count')
multiome_train_pivoted

/tmp/ipykernel_16113/11009629.py:1: PerformanceWarning: The following operation may generate 4042295955 cells in the resulting pandas object.
  multiome_train_pivoted = multiome_train.pivot(index='obs_id', columns='location', values='count')

location,A1BG,A1BG-AS1,A2M,A2M-AS1,A2ML1,A2ML1-AS1,A3GALT2,A4GALT,AAAS,AACS,...,chrY:7714244-7715127,chrY:7722309-7723213,chrY:7723979-7724872,chrY:7729946-7730737,chrY:7731829-7732671,chrY:7765105-7765991,chrY:7814158-7815060,chrY:7818681-7819599,chrY:8535565-8536421,chrY:8537529-8538370
obs_id,,,,,,,,,,,,,,,,,,,,,
000225c1151ab841,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0003c40a54367871,NaN,1.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0004bf574b822c3c,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
000d59b5478f28e2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0011b7473923d7b5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
fff2ca1f64c10339,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fff87e64f509b570,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fff9778b31bc2539,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
fffa92f71d2440de,NaN,NaN,3.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ffffeba9dbf2bab1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [4]:
import pickle

pickle.dump(multiome_train_pivoted, open('multiome_train_pivoted_raw_count.pkl', 'wb+'), protocol=5)

In [8]:
pickle.load(open('data/adata_train_pivoted.pkl', 'rb'))

gene,A1BG,A1BG-AS1,A2M,A2M-AS1,A2MP1,A4GALT,AAAS,AACS,AAGAB,AAK1,...,ZW10,ZWILCH,ZWINT,ZXDA,ZXDB,ZXDC,ZYG11A,ZYG11B,ZYX,ZZEF1
obs_id,,,,,,,,,,,,,,,,,,,,,
000006a87ba75b72,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0000233976e3cd37,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.198060,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.198060,NaN
0001533c5e876362,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,5.511851,NaN,NaN,NaN,NaN
00022f989630d14b,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
0002560bd38ce03e,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6.619411,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ffff28f274e983df,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.966416,NaN,NaN
ffff32893af5befb,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.004205,NaN
ffff6c3e0a7b05ad,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.774316,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ffff8e571c7e8cb0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
ffffe67500d95d8d,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,4.205181,NaN,NaN,NaN,5.580224,NaN